<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>플레이어 대기중</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.min.js"></script>
  <script type="text/javascript">
      var socket = io();
      socket.on('game_state_update', function(data) {
          if (data.players) {
              document.getElementById("players").innerHTML = data.players.join(", ");
              if (data.players.length >= {{ player_count }}) {
                  window.location.href = "/";
              }
          }
      });
  </script>
</head>
<body>
  <h1>플레이어 대기중</h1>
  <p id="message">{{ state.message }}</p>
  <p>현재 참가자: <span id="players">{{ state.players | join(", ") }}</span></p>
  <br>
  <a href="/logout">나가기</a>
</body>
</html>